@using Core.Domain.Toplists
@using Core.Domain.Toplists.Models
@inherits AuthBase
@inject IToplistService ToplistService

@code {

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Action<long> SuccessCallback { get; set; }

    private string Name { get; set; }
    private bool Public { get; set; } = true;
    private string Error { get; set; }

    private async Task OnCreate()
    {
        if (string.IsNullOrWhiteSpace(Name))
        {
            Error = "Name must be specified";
            return;
        }
        var toplist = await ToplistService.Create(new CreateToplistRequest
        {
            Token = await GetAuthToken(),
            Name = Name,
            Public = Public
        });
        SuccessCallback?.Invoke(toplist.Id);
        MudDialog.Close();
    }

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
            await OnCreate();
    }

}

<MudDialog>
    <DialogContent>
        <div class="d-flex">
            <MudTextField @bind-Value="Name" Label="Name" Placeholder="Toplist name..." Immediate="true" OnKeyDown="OnKeyDown" Variant="Variant.Outlined"/>
            <MudTooltip Text="Public Toplists can be viewed by anyone" >
                <MudSwitch @bind-Checked="@Public" Label="Public" Class="mt-4 ml-2" Color="Color.Primary"/>
            </MudTooltip>
        </div>
        <MudText Color="Color.Error" Typo="Typo.body2">@Error</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="MudDialog.Close" Variant="Variant.Filled" Color="Color.Secondary">Cancel</MudButton>
        <MudButton OnClick="OnCreate" Variant="Variant.Filled" Color="Color.Primary">Create</MudButton>
    </DialogActions>
</MudDialog>