.mud-theme-primary.lighten {
    background-color: var(--mud-palette-primary-lighten) !important;
}

.movieListItem{
    padding: 8px;
    cursor: pointer;
}

.movieListItem:hover{
    background-color: #e1e1e1;
}
.movieListItem:active{
    background-color: #c3c3c3;
}

.iconCard {
    position: absolute;
    width: 200px;
    height: 300px;
}

.hovered.iconCard {
    background-color: rgba(0, 0, 0, 0.70)
}

.iconCard__header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}

.iconCard__content {
    padding-top: 60px;
    padding-left: 5px;
}

.testContainer {
    position: relative;
}

.movieFigure {
    width: 100%; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin: 0; /*reset margin of figure tag*/
    margin-bottom:20px;
}

.movieFigure__clip {
    display: block; /*remove inline-block spaces*/
    width: 100%; /*make image streatch*/
    margin-bottom: -100%;
    margin-top: -20%;
}

.normal {
    font-weight: normal !important;
}

.bold {
    font-weight: bold !important;
}

.relationBox{
    width: auto;
    height: auto;
}

#relation {
    background: #e8e8e8;
    height: 25px;
    position: relative;
    width: 5px;
    top: -10px;
}
#relation:after {
    background: #e8e8e8;
    content: "";
    height: 5px;
    position: absolute;
    top: 20px;
    width: 20px;
}

/***********************************/
/**********DISCUSSION ITEM**********/
/***********************************/


.comment-item, .comment-item-children, .discussion {
    position: relative;
}

.comment-item-children > .comment-item {
    padding-left: 20px;
}

.discussion:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    height: 100%;
    border-left: 2px solid #E6E6E6;
}

.discussion:only-child:before {
    content: none;
}

.comment-item-children > .comment-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 2px solid #E6E6E6;
}

.comment-item:last-child{
    border-left: none;
}
.comment-item-children>.comment-item:last-child:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 40px;
    border-left: 2px solid #E6E6E6;
}

.discussion__avatar{
    max-height: 40px;
    border-radius: 10px;
}

.discussion__main:before{
    content: '';
    display: block;
    position: absolute;
    left: 18px;
    top: 40px;
    bottom:50px;
    height: auto;
    border-left: 2px solid #b4eeb8;
}

.discussion__icon{
    font-size: 15px;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.discussion__icon:hover{
    background-color: #f1f1f1;
}

#discussion__voteUp:hover{
    color: #008d41;
}

#discussion__voteDown:hover{
    color: orangered;
}

#discussion__commentAct:hover{
    color: dodgerblue;
}

.discussion__iconText{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discussion__commentSection{
    margin-top: 5px;
    position: relative;
    background-color: #f3f3f3;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.discussion__comment:before{
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -40px;
    width: 30px;
    border-top: 2px solid #b4eeb8;
}

.moreComments{
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: #808080;
    margin-bottom: 15px;
    
}
.moreComments:hover{
    text-decoration: underline;
}
.moreComments:before{
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 22px;
    border-top: 2px solid #E6E6E6;
}

.moreComments:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    border-left: 2px solid #E6E6E6;
}



