.movieCard {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

.imageContainer {
    padding: 5px;
}
img {
    margin: auto;
    display: block;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    margin-top: auto;
    margin-bottom: auto;
}

.contentContainer {
}

#titleSection {
    display: flex;
    justify-content: space-between;
}

.watchListContainer {
    margin: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}