.mud-theme-primary.lighten {
    background-color: var(--mud-palette-primary-lighten) !important;
}

.iconCard {
    position: absolute;
    width: 200px;
    height: 300px;
}

.hovered.iconCard {
    background-color: rgba(0, 0, 0, 0.70)
}

.iconCard__header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    z-index: 1;
}

.iconCard__content {
    padding-top: 60px;
    padding-left: 5px;
}

.testContainer {
    position: relative;
}

.movieFigure {
    width: 100%; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin: 0; /*reset margin of figure tag*/
    margin-bottom:20px;
}

.movieFigure__clip {
    display: block; /*remove inline-block spaces*/
    width: 100%; /*make image streatch*/
    margin-bottom: -100%;
    margin-top: -20%;
}