@using Core.Services.Movies.Models

@code {

    [Parameter]
    public MovieListModal Content { get; set; }

}

<div class="d-flex">
    <img src="@(Content.Poster)" Class="mr-4 ml-0" style="max-height: 60px"/>
    <div class="d-flex flex-column">
        <MudText Typo="Typo.body1">@Content.Title</MudText>
        <MudText Typo="Typo.body2">@Content.Year</MudText>
    </div>
</div>