@using Core.Domain.DiscussionItems
@using Core.Domain.DiscussionItems.Models
@using Core.Domain.Authentication
@using Core.Data.Models
@inject IDiscussionItemService DiscussionItemService
@inject IAuthenticationService AuthenticationService
@inherits AuthBase

@code {

    [Parameter]
    public long MovieId { get; set; }

    [Parameter]
    public UserDao User { get; set; }
    
    [Parameter]
    public IEnumerable<CommentTreeViewModel> Comments { get; set; }
    
    [Parameter]
    public bool HasMoreComments { get; set; }

    private string NewComment { get; set; }

    private async Task MakeComment()
    {
        if (NewComment is null or "") return;
        var comment = await DiscussionItemService.AddComment(new AddCommentRequest
        {
            DiscussableId = MovieId,
            Text = NewComment,
            Token = await GetAuthToken(),
        });
        Comments = Comments.Prepend(CommentTreeViewModel.Map(comment)).OrderByDescending(c => c.Created).ToList();
        NewComment = "";
    }

    private async Task GetMoreComments(int limit = 10)
    {
        var comments = await DiscussionItemService.GetComments(new GetCommentsRequest
        {
            DiscussableId = MovieId,
            ToDate = Comments.LastOrDefault()?.Created,
            Token = await GetAuthToken()
        });
        HasMoreComments = comments.HasMore;
        Comments = Comments.Concat(comments.Items.Select(CommentTreeViewModel.Map)).OrderByDescending(c => c.Created).ToList();
    }

}

@if (User != null)
{
    <div class="discussion__makeNew d-flex" style="margin-bottom: 10px">
        <MudTextField @bind-Value="NewComment" Label="@User.Username" Placeholder="Post a new comment..."/>
        <MudButton Style="height: fit-content; margin-top: auto; border:1px solid #594ae2" OnClick="MakeComment">Post</MudButton>
    </div>
}
else
{
    <MudText Style="font-style: italic; padding-bottom: 10px">You have to log in, to write a comment!</MudText>
}

@foreach (var comment in Comments ?? new CommentTreeViewModel[0])
{
    <CommentItem Content="@comment"/>
}
@if (HasMoreComments)
{
    <p class="moreDiscussion" @onmouseup="() => GetMoreComments()">Load more comments</p>
}