@using Notflix.Components.Shared

@code {

    [Parameter]
    public bool Content { get; set; }

}

<style>
    .comment-item {
        position: relative;
    }
    .children > .comment-item {
        padding-left: 30px;
    }
    
</style>
<div class="comment-item comment-item-root">
    <div style="display: flex">
        <div class="content d-flex">
            <div class="pa-2" style="display: flex; justify-content: center; align-items: center;">
                <img src="/Images/avatar.png" style="max-height: 60px" alt="user avatar"/>
            </div>
            <div class="pa-2">
                <MudText>Raluca Petrovici</MudText>
                <MudText>This is a long comment... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one... see? This one...</MudText>
            </div>
        </div>
    </div>
    @if (@Content)
    {
        <div class="children">
            <CommentItem Content="@true"/>
        </div>
    }
</div>
