@using Notflix.Components.Movie

@code {
    string _margin;

    [Parameter]
    public CommentDiscussion.Comment Content { get; set; }

}

<div class="comment-item">
    <div class="content d-flex">
        <img src="/Images/avatar.png" style="max-height: 60px" alt="user avatar"/>
        <div class="pa-2">
            <MudText>@Content.Name</MudText>
            <MudText>@Content.Contents</MudText>
        </div>
    </div>

    @if (Content.Children != null  && Content.Children.Any())
    {
        <div class="children">
            @foreach (var child in Content.Children)
            {
                <CommentItem Content="@child"></CommentItem>
            }
        </div>
    }


</div>