@using Notflix.Components.Movie

@code {
    [Parameter]
    public CommentDiscussion.Comment Content { get; set; }

}

<div class="comment-item">
    <div class="content d-flex">
        <img src="/Images/avatar.png" class="discussionAvatar" alt="user avatar"/>
        <div style="padding-left: 10px">
            <MudText Typo="Typo.body1">@Content.Name</MudText>
            <MudText Typo="Typo.body2">@Content.Contents</MudText>
        </div>
    </div>

    @if (Content.Children != null  && Content.Children.Any())
    {
        <div class="comment-item-children">
            @foreach (var child in Content.Children)
            {
                <CommentItem Content="@child"></CommentItem>
            }
        </div>
    }


</div>