@page "/Zolly"
@using Notflix.Components.Movie
<h3>Zolly</h3>

<MudTabs Elevation="1" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Comments" ToolTip="ToolTip One" Class="mud-tabs-panels pa-2">
        <CommentDiscussion Content="@true"/>
    </MudTabPanel>
    <MudTabPanel Text="Reviews" ToolTip="ToolTip Two">
        <MudText>Reviews..........................</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Fun Facts" ToolTip="ToolTip Three">
        <MudText>Fun facts..........................</MudText>
    </MudTabPanel>
</MudTabs>
            
        


@code {
    private bool _rendered;
    private string message = "Initial assigned message.";
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
        if (firstRender)
        {
            message = "Executed for the first render.";
        }
        else
        {
            message = "Executed after the first render.";
        }
        _rendered = true;
    }
}